@import "./global.scss";

.row {
  margin-left: 10px !important;
  margin-right: 10px !important;

  @include breakpoint(tablet) {
    margin: 0 -5px;
  }
}

.app {
  height: 100%;
  background-color: #f7f8fd;
}

.clearfix {
  padding-top: 90px;
}
